<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price to hours worked calculator</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6135599490918760" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QL6VNRM7T9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QL6VNRM7T9');
    </script>
</head>
<style>
    /*
    gold: #fdb927
    purple: #552583
    black: #000000
    */
    * {
        font-family: 'Assistant', sans-serif;
    }
    .container {
        padding: 20px;
    }
    .form {
        padding: 20px;
        margin: 20px 0px;
        background-color: #f8f8f8;
        border-radius: 4px;
    }
    .center {
        text-align: center;
    }
    .result span.detail {
        color: #fdb927;
        font-weight: bold;
    }
    .mt-3 {
        margin-top: 3rem;
    }

    section {
        padding: 40px 0px;
    }

    .block-header {
        background-color: #552583;
        color: #ffffff;
    }
    .form {
        background-color: #ffffff;
        color: #552583;
    }

    .block-1, .block-3 {
        background-color: #ffffff;
        color: #552583;
    }

    .block-2 {
        background-color: #fdb927;
        color: #000000;
    }

    .blockquote {
        color: #fdb927;
        background-color: #552583;
        border-radius: 4px;
        padding: 40px 0px 20px 0px;
        text-align: center;
        font-size: 2rem;
        margin: 40px 0px;
    }

    /* .block-3 { } */
</style>
<body>

<div id="app">
    <section class="block-header">
        <div class="container">
            <div class="row">
                <div class="column">
                    <p class="center"><img src="./assets/images/time-is-money-inverted.png" height="100"></p>

                    <h1 class="center">Price to hours worked calculator</h1>

                    <div class="form mt-3">
                        <div class="row">
                            <div class="column">
                                <label for="cost"><i>Cost of the item you want to buy</i></label>
                                <input type="number" min="0" step="any" id="cost" name="cost" placeholder="Cost of the item you want to buy" v-model="cost" @keyup="calc">
                            </div>
                            <div class="column">
                                <label for="wage"><i>Your hourly wage</i></label>
                                <input type="number" min="0" step="any" id="wage" name="wage" placeholder="Your hourly wage" v-model="wage" @keyup="calc">
                            </div>
                        </div>
                        <div class="result center mt-3" v-show="hours > 0">
                            <h3>You need to work <span class="detail">{{ hours }} hours</span> to buy this item (about <span class="detail">{{ days }} days</span>*)</h3>
                            <p><small>* If you work 8 hours per day</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block-1">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Calculate how many hours you will have to work to afford an item you wish to purchase.</h3>

                    <p>To successfully manage your finances, it is important to be mindful of your spending decisions and weigh the costs and benefits of each purchase.</p>

                    <p>Before making a purchase, ask yourself if the benefits you will receive from it are worth the cost based on your financial situation. Evaluating the cost of a purchase in terms of working hours can be an effective way to determine its value, and our calculator can help you do just that.</p>

                    <p>This price-to-hours worked calculator can provide you with the answer to the question of how many hours you need to work to buy something you want.</p>

                    <p>This is a useful tool for those who tend to make impulsive buying decisions and need to carefully consider their purchases.</p>

                    <div>
                        <h3>Do you ever wonder if that expensive item you're eyeing is really worth the cost?</h3>

                        <p>Let's say you have your heart set on a new PlayStation, but the $500 price tag has you second-guessing. By using the price-to-hours worked calculator and considering your hourly wage, you can determine exactly how many hours you'd have to work to afford the item.</p>

                        <p>For example, if you make $30 an hour, it would take you 17 hours to earn enough to buy the PlayStation. But if you only make $11 an hour, it would take you 42 hours of work to afford it.</p>

                        <p>Seeing the amount of time and effort you'd have to put in might make you reconsider whether that pricey item is truly worth it.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block-2">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Unsure about your hourly earnings?</h3>

                    <p>Use the calculator provided below to convert your yearly salary, monthly, weekly, or daily earnings into an hourly rate. Figure out your own actual hourly wage and use it to pause and consider before making your next purchase.</p>

                    <div class="form">
                        <h4>Calculate my hourly rate based on</h4>

                        <div class="row">
                            <div class="column"><input type="radio" id="base" v-model="base" @change="calcHourlyRate" value="annual">&nbsp;Annual salary</div>
                            <div class="column"><input type="radio" id="base" v-model="base" @change="calcHourlyRate" value="monthly">&nbsp;Monthly wage*</div>
                            <div class="column"><input type="radio" id="base" v-model="base" @change="calcHourlyRate" value="weekly">&nbsp;Weekly wage</div>
                            <div class="column"><input type="radio" id="base" v-model="base" @change="calcHourlyRate" value="daily">&nbsp;Daily wage</div>
                        </div>

                        <div class="row mt-3">
                            <div class="column">
                                <label for="baseSalary"><i>{{ message }}</i></label>
                                <input type="number" min="0" step="any" name="baseSalary" id="baseSalary" v-model="baseSalary" @keyup="calcHourlyRate">
                            </div>
                            <div class="column">
                                <label for="workedHoursPerDay"><i>How many hours do you work per day?</i></label>
                                <input type="number" min="0" step="any" name="workedHoursPerDay" id="workedHoursPerDay" v-model="workedHoursPerDay" @keyup="calcHourlyRate">
                            </div>
                            <div class="column">
                                <label for="workedDaysPerWeek"><i>How many days do you work per week?</i></label>
                                <input type="number" min="0" step="any" name="workedDaysPerWeek" id="workedDaysPerWeek" v-model="workedDaysPerWeek" @keyup="calcHourlyRate">
                            </div>
                        </div>

                        <div class="result center mt-3" v-show="hourlyWage > 0">
                            <h3>Your hourly wage is <span class="detail">${{ hourlyWage }}</span><span v-show="isMonthlyWage">*</span></h3>
                            <p v-show="isMonthlyWage"><small>Since each month has a different number of work days we calculate your hourly rate based on your average weekly earnings (monthly wage*12/52)</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="block-3">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>How much time will I spend on this?</h3>

                    <p>When we buy something, we exchange money for the item or experience, which seems worthwhile at the moment. But have you ever considered what you are actually giving up in return? Have you ever asked yourself "How much time will this cost me?"</p>

                    <p>For most people, money represents the time they spent working to earn it. This can be easily forgotten, unless you have found a way to earn money without working.</p>

                    <p>When we make a purchase, it happens in the present, and we associate the "price" with the dollar amount we see. However, that dollar was earned by trading our time and energy.</p>

                    <p>If we are spending money we have already earned, then we are spending hours of our past. But if we are paying with debt, we are essentially exchanging our future time for the purchase today, and the debt will eventually need to be paid.</p>

                    <p>In the book <a href="https://www.amazon.com/gp/product/0143115766">Your Money or Your Life</a>, the authors explain that "Money is something we choose to trade our life energy for. Our life energy is our allotment of time here on earth, the precious life available to us. When we go to our jobs we are trading our life energy for money."</p>

                    <p>It is not as simple as just looking at the dollar amount. For example, if you make $20 an hour and something costs $20, you might think it takes an hour to earn that item. However, there are essential expenses, such as rent, groceries, and utilities, which must be paid for a healthy and safe lifestyle.</p>

                    <p>Let's say Joe makes $20 an hour, works 40 hours a week, and earns $3200 a month after taxes. His essential bills, such as rent, food, and utilities, add up to $1550, leaving him with $1650 to "choose" how to spend. This means that, in reality, Joe only has $10.31 per hour to spend on non-essential items.</p>

                    <p>Suddenly, a $20 item actually costs Joe approximately 2 hours of his life, while a $5 latte costs him approximately 30 minutes.</p>

                    <div class="blockquote">
                        <p>I am not recommending that the item or latte are not valuable enough to justify exchanging that amount of your time. It is a matter of personal finance, and ultimately, the decision is up to you. My point is simply to encourage you to pause and consider for yourself whether they truly are worth it.</p>
                    </div>

                    <p>Determine your actual hourly wage and apply it to your purchasing decisions to prevent wasteful spending. Consider the amount of time the purchase will require.</p>

                    <p>If there's one resource I detest squandering more than any other, it's time.</p>

                    <p>Even if you can estimate your salary and income, the amount of time you have left in life is unknown.</p>

                    <h4>Avoid spending your money on things that are not valuable enough to warrant trading your precious time. Because, in the end, that's what you are actually sacrificing.</h4>
                </div>
            </div>
        </div>
    </section>
</div>

<p class="center"><small><small><a href="https://www.flaticon.com/free-icons/time-is-money" title="time-is-money icons">Time-is-money icons created by Iconjam - Flaticon</a></small></small></p>
<script>
const { createApp } = Vue

createApp({
    data() {
        return {
            cost: 0.00,
            wage: 0.00,
            hours: 0,
            days: 0,
            base: "annual",
            message: "Your annual salary",
            baseSalary: 0,
            workedHoursPerDay: 8,
            workedDaysPerWeek: 5,
            hourlyWage: 0,
            isMonthlyWage: false,
        }
    },
    methods: {
        calc() {
            try {
                if (this.cost > 0 && this.wage > 0) {
                    this.hours = Math.round((this.cost / this.wage + Number.EPSILON) * 100) / 100;
                    this.days = Math.round((this.hours / 8 + Number.EPSILON) * 100) / 100;
                }
            } catch (error) {
                this.hours = 0;
                this.days = 0;
            }
        },
        calcHourlyRate() {
            try {
                this.message = this.base == 'annual' ? "Your annual salary" : `Your ${this.base} wage`;
                this.isMonthlyWage = this.base == 'monthly';

                let result = 0;

                if (this.base == 'annual') {
                    result = (this.baseSalary / 52) / this.workedDaysPerWeek / this.workedHoursPerDay;
                } else if (this.base == 'monthly') {
                    result = (this.baseSalary * 12 / 52) / this.workedDaysPerWeek / this.workedHoursPerDay;
                } else if (this.base == 'weekly') {
                    result = this.baseSalary / this.workedDaysPerWeek / this.workedHoursPerDay;
                } else {
                    result = this.baseSalary / this.workedHoursPerDay;
                }

                this.hourlyWage = Math.round((result + Number.EPSILON) * 100) / 100;
            } catch (error) {
                this.hourlyWage = 0;
            }
        }
    }
}).mount('#app')
</script>
</body>
</html>
